<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <label for="project-list-name">Projects</label>
                        <a href="#/"><span class="glyphicon glyphicon-remove pull-right"></span></a>
                    </h3>
                </div>
                <div class="panel-body">
                    <div ng-show="projectList.length > 0" class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>ID</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="project in projectList" ng-class="{ info: $index == selectedProject }" ng-click="selectProject($index)">
                                            <td>{{project.name}}</td>
                                            <td>{{project.id}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div ng-show="projectList.length == 0" class="alert alert-info" role="alert">
                        No projects found. <a href class="alert-link">Create a new project!</a>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <a href="#/projects/new">
                                    <button type="button" class="btn btn-primary">
                                        <span class="glyphicon glyphicon-plus"></span> New Project
                                    </button>
                                </a>
                                <button type="button" class="btn btn-primary" ng-disabled="!showLoadProject" ng-click="">
                                    <span class="glyphicon glyphicon-folder-open"></span> Load Project
                                </button>
                                <a href="#/">
                                    <button type="button" class="btn btn-default">
                                        <span class="glyphicon glyphicon-remove"></span> Cancel
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>